# ── Hive / Hadoop ─────────────────────────────────────────────────────────────
pyhive[hive]==0.7.0
thrift==0.16.0
thrift-sasl==0.4.3
sasl==0.3.1

# ── AWS S3 ────────────────────────────────────────────────────────────────────
boto3==1.34.34
s3fs==2024.2.0

# ── PostgreSQL (meta-DB Superset) ─────────────────────────────────────────────
psycopg2-binary==2.9.9

# ── MongoDB ───────────────────────────────────────────────────────────────────
pymongo==4.6.1

# ── Superset workers async ────────────────────────────────────────────────────
gevent==24.2.1
cachelib==0.10.2
